Write a program to calculate entropy for each of the variables in the following dataset.

In [1]:
# Import libraries
import numpy as np
import pandas as pd

In [2]:
# Load data
df = pd.read_csv('C:/Users/Karthik.Iyer/Downloads/AccelerateAI/Tree-Based-Models-main/q5_data.csv')
df

       age  income student credit_rating buys_laptop
0     <=30    high      no          fair          no
1     <=30    high      no     excellent          no
2   31..40    high      no          fair         yes
3      >40  medium      no          fair         yes
4      >40     low     yes          fair         yes
5      >40     low     yes     excellent          no
6   31..40     low     yes     excellent         yes
7     <=30  medium      no          fair          no
8     <=30     low     yes          fair         yes
9      >40  medium     yes          fair         yes
10    <=30  medium     yes     excellent         yes
11  31..40  medium      no     excellent         yes
12  31..40    high     yes          fair         yes
13     >40  medium      no     excellent          no

In [3]:
# Print Entropy

for col in df.columns:
    p = df[col].value_counts(normalize=True)     #normalize=True will give probability
    l = list(p.values)
    n = [(-1)*(i*np.log2(i)) for i in l]         #calculating entropy for each category using -p*log(p) to base 2
    print(col, 'Entropy:', round(sum(n),2))      #sum of all categories will give entropy rounded off to 2 decimal places

age Entropy: 1.58
income Entropy: 1.56
student Entropy: 1.0
credit_rating Entropy: 0.99
buys_laptop Entropy: 0.94

In [4]:
# Lets verify for age
df['age'].value_counts(normalize=True)

<=30      0.357143
>40       0.357143
31..40    0.285714
Name: age, dtype: float64

In [5]:
# <=30 
p1 = df['age'].value_counts(normalize=True)[0]    #probability for category <=30
e1 = (-1)*(p1*np.log2(p1))
print(e1)

0.5305095811322292

In [6]:
# >40
p2 = df['age'].value_counts(normalize=True)[1]    #probability for category >40
e2 = (-1)*(p2*np.log2(p2))
print(e2)

0.5305095811322292

In [7]:
# 31..40
p3 = df['age'].value_counts(normalize=True)[2]    #probability for category 31..40
e3 = (-1)*(p3*np.log2(p3))
print(e3)

0.5163871205878868

In [8]:
# Check sum
s = e1+e2+e3
print(round(s,2))

1.58